



button {
    background: black;
    padding: 5px 15px;  
    margin-left:10px;
    margin-top:10px;
    color: #d1f5d3;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    border: 3px solid #d1f5d3;
    border-radius: 5px;
    cursor: pointer;    
    
}



  .sticky {
    position:relative;
    height:250px;
    width:200px;
    display:inline-block;
    margin:10px;
    padding:18px 10px 10px 10px;
    box-sizing: border-box;
    box-shadow: 6px 7px 12px -5px rgba(0,0,0,0.75);
    font-size:24px;
    background: #ffd31d;
    resize: both;
    overflow: scroll;
    
   
  }

  ::-webkit-scrollbar {
    display: -webkit-box;  
  }
  
  
    .close1 {
      font-size: 26px;
      position: absolute;
      top: 0;
      right:0;
      cursor: pointer;
      width: 18px;
       
        
    }
    
    




